* {
    box-sizing: border-box;
}
h1 {
    color: white;
    font-family: verdana;
    padding-top: 70px;
    padding-bottom: 70;
    text-align: center;
    background-color: #666;
}
title {
    padding-left: 20;
}
header {
    background-color: #f1f1f1;
    width: 300;
    height: 500;
}
article {
     margin-top: -610;
     text-align: right;
}
nav {
    padding-left: 30;
    position: absolute; bottom: 620;   
}

footer {
    color: white;
    padding: 10px;
    text-align: center;
    background-color: #777;
}